<h1>Edit Exercise</h1>

<%= form_for :workout do |work|%>
<p>
		<%= work.label :name%>
		<%= work.text_field :name %>
</p>

<p>
		<%= work.label :repetitions, "Repetitions"%>
		<%= work.text_field :repetitions %>
</p>

<p>
		<%= work.label :sets, "Sets"%>
		<%= work.text_field :sets %>
</p>

<p>
	<%= work.submit :Change %>
</p>



<%end%>