<h1>Login form</h1>

<br /> 
  <%= form_for @user,{url:"/authentications", method:"post"} do |u| %>
  <br>
    <%= u.label :email, "Email" %><%=u.text_field :email %><br />
    <%= u.label :password, "Password" %><%=u.text_field :password %><br />

    <%= u.submit :Login %><br />

    <% end %>